body {
	font-family: 'Space Mono', monospace;
	background-image: url("../img/LA_Swamp.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
    }

header {
	background-color: black;
}

header h1 {
	padding-left: 20px;
	color: white;
	display: inline-block;
	margin-right: 4px;
}

header nav {
	text-align: right;
	padding: 1.9em 0;
	color: white;
}

header nav a {
	color: white;
	padding: 0 5px;
}

.header-nav {
	text-align: right;
	padding: 16px;
	margin-right: 14px;
}

.burger-location {
	position: relative;
}

.burger span {
	background-color: white;
	height: 3px;
	width: 20px;
	display: block;
	margin-bottom: 3px;
}

.burger {
	position: absolute;
	right: 5px;
	top: 30px;
	display: none;
}

@media (max-width: 767px) {
	header nav a {
		display: block;
	}
	header nav {
		text-align: center;
		display: none;
	}

	header nav.open {
		display: inherit;
	}
	.burger {
		display: inline-block;
	}  
}

#intro-box {
	display: block;
	position: absolute;
    border: 3px solid black;
    padding: 10px;
    margin: 20px;
    background-color: rgba(255, 255, 255, .4);
}

#name {
	background-color: black;
	color: white;
	display: inline-block;
	padding: 5px;
}

#slider .iis-slide {
	background-size: contain;
}

#slider {
	margin: 80px;
	background-color: transparent;
}

#education-box {
	display: block;
	position: absolute;
	width: 350px;
	height: 400px;
    border: 3px solid black;
    padding: 10px;
    margin: 20px;
    background-color: rgba(255, 255, 255, .4);
}

#resume-title {
	padding: 10px;
	margin: 20px;
}

.job {
	display: block;
	border: 3px solid black;
	padding: 10px;
	margin: 20px;
	max-width: 800px;
	background-color: rgba(255, 255, 255, .4);

}

#contact-box {
	display: block;
	border: 3px solid black;
	width: 305px;
	height: 200px;
	padding: 10px;
	margin: 20px;
	background-color: rgba(255, 255, 255, .4);
}

#linkedIn {
	margin: 5px;
}

#twitter {
	margin: 5px;
}